body {
  margin: 0;
  padding: 0;
  background: linear-gradient(98.3deg, rgb(109, 44, 44) 10.6%, rgb(255, 0, 0) 97.7%);
  overflow: hidden;
}

.content {
  margin-left: 200px;
  padding: 20px;
  right:50%;
  top:50%;

  color: #444654;
}

.center {
    margin: auto;
    width: 40%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
    display: none;
}

.message-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 20px;
  color: #fff;
  border:5px;
  border-color:white;
  bottom:50px;
}

.profile-pic-holder {
  margin-right: 15px;
}

.profile-pic {
  border-radius: 50%;
  width: 45px;
}

.message-content {
  max-width: 95%;
  word-wrap: break-word;
  background-color: transparent;
  border-radius: 20px;
  color: #fff;

}

.new-input {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.new-input #messageInput {
  width:50%;
  left:25%;
  position:absolute;
  text-align: center;
  padding: 5px;
  border: 2px solid #fff; 
  border-radius: 20px; 
  font-size: 16px; 
  outline: none; 
}

.new-input button {
  margin-left: 10px;
  background-color: #0366d6;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.new-input #file {
  margin-left: 10px;
  background-color: #0366d6;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.sendButton{
  position:absolute;
  width:5%;
  text-align: center;
  border-radius: 20px; 
  font-size: 16px; 
  outline: none; 
  left:75%;
  background:grey;
  cursor:pointer;
  margin-right: 15px;
  height:40px;

  margin-left: 10px;
  background-color: #0366d6;
  color: #fff;
  border: 0;
  padding: 10px 20px;

}

.sendButton:hover{
  opacity:0.8;
}

.messageContainer{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 20px;
  color: #fff;
  border:5px;
  border-color:white;
}

.middle {
  background-color:transparent;
  border-color:white;
  border-radius:5px;
  margin: 30px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  flex-basis: 50%;
  height: calc(90vh - 280px);
  bottom:50px;
}

#middle::-webkit-scrollbar {
    display: none;
}