{% extends "template.html" %}
{% block title %}Chat{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <link rel="icon" href="{{url_for('static', filename='css/favicon.ico')}}">
    <script src="{{url_for('static', filename='javascript/message.js')}}"></script>

  <div class="content">

        <h2>Canal global</h2>
        <div class="middle" id="middle">

          {% for id in ids %}
          <div class="message-container">
            <div class="profile-pic-holder">
              <a href="/profil?targetuser={{ id['user'] }}">
                <img class="profile-pic" src="static/temp-img/{{id['link']}}" alt="">
              </a>
            </div>
            <div class="message-content">
              <p>{{id['message']}}</p>
            </div>
          </div>
          {% endfor %}
        </div>


        <div class="new-input">

                <input type="text" id="myInput" name="new_input" placeholder="Ecrivez donc un message !">
          <button method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data" id="sendBtn">
            Envoyer
        </div>

        {% if username in admin %}
          <div>
            <button class="clear">clear</button>
            <button class="suppr">suppr</button>
            <script>
              var socket = io.connect('https://server-web.maixins.repl.co/')
              $('.clear').on('click', function () {
                socket.emit('clear',"nothing");
              });
              $('.suppr').on('click', function () {
                socket.emit('suppr','nothing');
              });
            </script>
          </div>
        {% else %}
          <div></div>
        {% endif %}

      </div>
{% endblock %}
    