<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
  <title>Connexion</title>
</head>
<body>
  <section>
    <div class="login-box">
      <div class="form-value">
        <h2>Connexion</h2>
        <a class="rep">{{ info }}</a>
        <form action="{{ url_for('register') }}" method="POST">
          <div class="inputbox">
            <input type="username" name="username" required>
            <label for="">Nom d'utilisateur</label>
          </div>
          <div class="inputbox">
            <input type="password" name="password" required>
            <label for="">Mot de passe</label>
          </div>
          <button type="submit" name="login_button">Se connecter</button>
          <div class="register">
          <a class="register" name="register_button" href="{{ url_for('register') }}">S'inscrire</a>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>
</html>
